<html>
  <head>
    <style type="text/css">
      .turbolinks-progress-bar {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 3px;
        background: #0076ff;
        z-index: 9999;
        transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
        transform: translate3d(0, 0, 0);
      }
    </style>
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="KTpvSIJXcFKaRSR9BtcGhCjoSaL+w94uy+dWiotUq860b3sVEIGm3YTuA+/Hd+sZqBvuEYouECyiFIRkHmNaGw==">
  </head>

  <body>
    <p id="notice"></p>

    <h1>Books</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td>
            <a class="show_26760" href="/books/26760">Show</a>
          </td>
          <td>
            <a class="edit_26760" href="/books/26760/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26760" rel="nofollow" data-method="delete" href="/books/26760">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td>
            <a class="show_26761" href="/books/26761">Show</a>
          </td>
          <td>
            <a class="edit_26761" href="/books/26761/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26761" rel="nofollow" data-method="delete" href="/books/26761">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td>
            <a class="show_26762" href="/books/26762">Show</a>
          </td>
          <td>
            <a class="edit_26762" href="/books/26762/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26762" rel="nofollow" data-method="delete" href="/books/26762">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td>
            <a class="show_26763" href="/books/26763">Show</a>
          </td>
          <td>
            <a class="edit_26763" href="/books/26763/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26763" rel="nofollow" data-method="delete" href="/books/26763">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <a class="show_26764" href="/books/26764">Show</a>
          </td>
          <td>
            <a class="edit_26764" href="/books/26764/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26764" rel="nofollow" data-method="delete" href="/books/26764">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td>
            <a class="show_26765" href="/books/26765">Show</a>
          </td>
          <td>
            <a class="edit_26765" href="/books/26765/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26765" rel="nofollow" data-method="delete" href="/books/26765">Destroy</a>
        </td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td>
            <a class="show_26766" href="/books/26766">Show</a>
          </td>
          <td>
            <a class="edit_26766" href="/books/26766/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26766" rel="nofollow" data-method="delete" href="/books/26766">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>aa</td>
          <td>a</td>
          <td>
            <a class="show_26767" href="/books/26767">Show</a>
          </td>
          <td>
            <a class="edit_26767" href="/books/26767/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_26767" rel="nofollow" data-method="delete" href="/books/26767">Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>


    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="pQpbDWpat8r4MoqQh471ivk0Rw2tJjYXeZZhDLLfniC7T8JcWMBS0YlQBHDMUuOfST6ue9W6V0bY53GmZsrZyQ==">

      <div class="field">
        <label for="book_title">Title</label>
        <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>

      <div class="field">
        <label for="book_body">Body</label>
        <textarea class="book_body" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
  </body>
</html>